.top-time,
.top-rank {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  padding: 20px 30px 20px 400px;
  margin-bottom: 30px;
  height: 300px;
}

.top-time {
  background: url("../images/time.jpg") -290px top no-repeat;
}

.top-rank {
  background: url("../images/rank.jpg") -290px top no-repeat;
}
