@media screen and (max-width: 768px) {
  .top-news {
    margin-bottom: 30px;
  }
}
.top-news dl {
  display: flex;
  flex-wrap: wrap;
}
.top-news dt {
  width:18%;
}
.top-news dd {
  width:82%;
  border-bottom: 2px dotted #ccc;
}
@media screen and (max-width: 768px) {
    .top-news dt {
      width: 30%;
    }
    .top-news dd {
      width: 70%;
  }
}
.top-news dd:nth-of-type(1)::after {
  content: "NEW!";
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: #990000;
  border-radius: 3px;
  padding: 3px; /* 内側の余白 */
}
.top-side {
  width: 300px;
  float: right;
}
@media screen and (max-width: 768px) {
  .top-side {
    margin: auto;
    float:none;
  }
}
.top-side a:hover {
  opacity: .7;
}
=======
/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2;
  font-feature-settings: "palt";
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  letter-spacing: .15em;
}

a:link {
  color: #422;
  font-weight: bold;
}

a:visited {
  color: #333;
}

:hover {
  transition: .4s ease-in;
}

a:hover,
a:active {
  color: #933;
}


em {
  font-style: normal;
}

ol,
ul {
  padding-left: 0;
  list-style-type: none;

}


table {
  border-collapse: collapse;
  width: 100%
}

tr:nth-of-type(odd) {
  background-color: #fbfbfb
}

th {
  vertical-align: top;
  text-align: left;
}

th,
td {
  padding: 20px;
  border: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  th,
  td {
    padding: 10px;
  }
  }



input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  select,
  textarea {
    width: 100%;
}
}


input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 0 30px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.jBounceIn {
  transition: .6s cubic-bezier(.47, 2.02, .31, -0.36);
}

.jBounceIn:hover,
.jbounceIn:focus,
.jbounceIn:active {
  transform: scale(1.1);
}

/*-------------------------
  グローバル
-------------------------*/

.container {
  max-width: 980px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 94%;}
}

.gl-header {
  height: 140px;
  padding-top: 15px;
  background:
    linear-gradient(110deg,
      black 0%,
      rgba(27, 18, 18, .7) 70%,
      rgba(27, 18, 18, .8) 100%),
    url("../images/wood.jpg") 0 0 / contain repeat-x;
  background-blend-mode: hard-light;
}

@media screen and (max-width: 768px) {
  .gl-header {
    height: auto;
    margin-bottom: -10px;
    background-size: cover;
  }
  }


.logo {
  width: 200px;
  height: 65px;
  background: url("../images/logo.png") 0 0 / cover no-repeat;
  margin-bottom: 15px;
}


.logo a {
  display: block;
  width: 200px;
  height: 65px;
  text-indent: -9999px;
}


@media screen and (max-width: 768px) {
  .logo {
    margin:auto
  }
  }

.gl-nav ul {
  display: table;
  list-style-type: none;
  table-layout: fixed;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gl-nav ul {
    display: block;
  }
  }


.gl-nav li {
  display: table-cell;
  text-align: center;
  border-right: 2px solid #000;
}


@media screen and (max-width: 768px) {
  .gl-nav li {
  display: block;
  padding: 10px;
  text-align: center;
  }
  }




.gl-nav li a {
  display: block;
  color: #ccc;
  text-shadow: 0 0 5px #000;

}

.gl-nav li a:hover {
  color: #a86;
}

.gl-footer {
  height: 120px;
  margin-top: 50px;
  padding-top: 50px;
  color: #ccc;
  letter-spacing: .3em;
  text-align: center;
  background: #211 url("../images/grunge.jpg") 0 top repeat-x;
}
@media screen and (max-width: 768px) {
  .gl-footer {
    line-height: 1.5;
    height: 40vw;
  }
  }


  @media screen and (max-width: 768px) {
    .top-news {
      margin-bottom: 30px;
    }
  }
  .top-news dl {
    display: flex;
    flex-wrap: wrap;
  }
  .top-news dt {
    width:18%;
  }
  .top-news dd {
    width:82%;
    border-bottom: 2px dotted #ccc;
  }
  @media screen and (max-width: 768px) {
      .top-news dt {
        width: 30%;
      }
      .top-news dd {
        width: 70%;
    }
  }
  .top-news dd:nth-of-type(1)::after {
    content: "NEW!";
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: #990000;
    border-radius: 3px;
    padding: 3px; /* 内側の余白 */
  }
  .top-side {
    width: 300px;
    float: right;
  }
  @media screen and (max-width: 768px) {
    .top-side {
      margin: auto;
      float:none;
    }
  }
  .top-side a:hover {
    opacity: .7;
  }
